:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
}


body {
  margin: 0;
  background: beige;
}


#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
  width: fit-content;
}